# Configuración de Motor de Base de Datos (MYSQL o H2)
DB_ENGINE=MYSQL

# URL de Conexión a la Base de Datos
DB_URL=jdbc:mysql://localhost:3306/sica?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&createDatabaseIfNotExist=true

# Credenciales de Acceso a MySQL
DB_USER=root
DB_PASSWORD=tu_contraseña_aqui
